.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: background-color 0.3s, padding 0.3s; 
  z-index: 2;
}

.logo {
  width: 420px;
  height: auto;
  transition: width 0.3s; 
}

.navigation {
  ul {
    list-style: none;
    display: flex;
    margin-right: 140px;
    margin-top: 10px;
    font-size: 17px;
  }

  li {
    margin-right: 20px;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: #fff;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -3px;
    left: 50%;
    background-color: #fff;
    transition: width 0.3s ease-out, left 0.3s ease-out;
  }

  a:hover::after {
    width: 100%;
    left: 0;
  }

  a:hover {
    text-decoration: none;
  }

  a:hover::after {
    width: 100%;
    left: 0;
  }

  /*a:hover {
    color: #535353;
  }*/
}


.header.scrolled {
  background-color: #fff;
  padding: 0px;
}

.header.scrolled .logo {
  width: 250px;
  margin: 0;
}
.header.scrolled .navigation a {
  color: #666; 
}

.header.scrolled .navigation a::after {
  background-color: #666; 
}

.header.scrolled a:hover {
  color: #007bff; 
}

.header.scrolled a:hover::after {
  width: 100%;
  left: 0;
}
